



.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    /* Adjust the margin as needed */
}

.card {
    width: 100%;
    /* Adjust the width as needed */
    margin-bottom: 20px;
    /* Adjust the margin as needed */
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {

    width: 30%;
    padding: 30px;
    height: 100px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    text-align: center;
}


footer { 
    padding-left: 100px; 
    padding-right: 100px; 
    padding-bottom: 20px; 
    text-align: center; 
} 

.footer-line { 
    border-top: 1px solid #ddd; 
    margin-bottom: 20px; 
} 

.footer-content { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 

.footer-links { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
} 

.footer-links a { 
    color: black; 
    display: inline-block; 
    margin-right: 15px; 
    text-decoration: none; 
}

.online {
    border: 3px solid green;
}

.offline {
    border: 3px solid grey;
}




/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {

    .card-container {
        flex-direction: column;
        align-items: center;
    }


    .card {
        width: 80%;
        /* Adjust the width as needed for smaller screens */
    }

    .column {
        width: 100%;
        padding: 80px;
    }

    #cardCarousel {
        display: none;
    }

    .col-md-3 {
        width: 100%;
        margin-bottom: 20px;
    }
}